/* Copyright 2025 Poiema Ministries. All Rights Reserved. */

@import 'tailwindcss';

:root {
  --background: #fffaf5;
  --secondary: #fff3e9;
  --foreground: #171717;
  --primary-black: #3f3c3c;
}

@theme inline {
  --color-background: var(--background);
  --primary-black: var(--primary-black);
  --color-secondary: var(--secondary);
  --color-foreground: var(--foreground);
  --font-kaisei-decol: var(--font-kaisei-decol);
}

body {
  background: var(--background);
  color: var(--primary-black);
  font-family: var(--font-kaisei-decol);
}

.offering-image {
  object-position: center;
}

@media (min-width: 768px) {
  .offering-image {
    object-position: 60% center;
  }
}

@media (min-width: 1024px) {
  .offering-image {
    object-position: 55% center;
  }
}
