@import "tailwindcss";

 :root {
  --background: #FFFAF5;
  --secondary: #FFF3E9;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-secondary: var(--secondary);
  --color-foreground: var(--foreground);
  --font-kaisei-decol: var(--font-kaisei-decol);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-kaisei-decol);
}
